<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>IFrames Horizontales</title>
<style>
  .contenedor {
    display: flex;
  }
  .iframe {
    width: 50% ;
    height: 700px ; /* ajusta la altura según necesites */
  }
</style>

</head>
<body>

<div class="contenedor">
  <iframe class="iframe" src="{{ url_for('incidenciacorreo') }}" frameborder="0"></iframe>
  <iframe class="iframe" src="{{ url_for('mostrar_usuarios') }}" frameborder="0"></iframe>
</div>

</body>
</html>
