<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_checador.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<title>Reporte Checador</title>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous">
  </script>
</head>
<body>

  <div class="ventana">
    <div class="header">Reporte Checador
      <button class="btn-cerrar" onclick="cerrarVentana()">X</button>
    </div>
  
    <div class="content-botones">
      <!-- Botón Todos -->
      <button type="button" id="btnTodos" class="btn-menu primero">
        <img src="{{ url_for('static', filename='iconos/icon_empleados.png') }}" alt="todos">
        <span>Todos</span>
      </button>
    
    {% for registro in registros %}
    <a href="/ventana_modificar?Fecha={{ registro.Fecha }}&Nombre={{ registro.Nombre }}&Hora={{ registro.HS }}&Tipo={{ registro.Tipo }}&Estatus={{ registro.Estatus }}" class="btn btn-menu">
        <img src="{{ url_for('static', filename='iconos/icon_modificar.png') }}" alt="Modificar"> <span>Modificar</span>
    </a>
{% endfor %}
        <button class="btn-menu" id="btnCancelar">
          <img src="{{ url_for('static', filename='iconos/icon_cancelar.png') }}" alt="cancelar">
          <span>Cancelar</span>
        </button> 
    </div>

    <div class="input-contenedor">
      <form action="{{ url_for('frameChecador') }}" method="post">
          <select class="select-busqueda" name="tipo_busqueda" onchange="cambiarBusqueda(this)">
              <option value="empleado">Empleado</option>
              <option value="rfc">RFC</option>
          </select>
          <input type="text" class="input-box input-empleado" name="nombre" placeholder="Ingresa nombre de empleado" id="inputEmpleado" style="display: none;">
          <input type="text" class="input-box input-rfc" name="rfc" placeholder="Ingresa RFC de empleado" id="inputRFC">
          
          <div class="calendario">
              <label for="fecha_inicio" class="texto-calendario">De:</label>
              <input type="date" id="fecha_inicio" name="fecha_inicio" class="input-calendario">
          </div>
  
          <div class="calendario2">
              <label for="fecha_fin" class="texto-calendario">A:</label>
              <input type="date" id="fecha_fin" name="fecha_fin" class="input-calendario">
          </div>
  
          <button type="submit" class="btn-buscar">
              <img src="{{ url_for('static', filename='iconos/icon_buscar.png') }}" alt="Buscar">
          </button>
      </form>
  </div>
  
  <div class="tabla-container">
    <table class="tabla">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>RFC</th>
          <th>Hora</th>
          <th>Tipo</th> <!-- Asegúrate de tener esta información o ajusta según sea necesario -->
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        {% if resultados %}
        {% for resultado in resultados %}
        <tr>
            <td>{{ resultado.Fecha }}</td>
            <td onclick="seleccionarFila(this);">{{ resultado.Nombre }}</td>
            <td>{{ resultado.RFC }}</td>
            <td>{{ resultado.HS|safe }}</td>
            <td>{{ resultado.Tipo|default('Tipo no especificado') }}</td>
            <td>{{ resultado.Estatus }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6">No se encontraron resultados</td>
        </tr>
        {% endif %}
    </tbody>
    </table>
  </div>
</div>

<script>
  function seleccionarFila(nombreCell) {
      if (confirm("¿Estás seguro de modificar este dato?")) {
          // Extrae los datos de la fila seleccionada
          var fila = nombreCell.parentNode;
          var datos = {
              Fecha: fila.cells[0].textContent,
              Nombre: nombreCell.textContent,
              Hora: fila.cells[2].textContent,
              Tipo: fila.cells[3].textContent,
              Estatus: fila.cells[4].textContent
          };
  
          // Construir la URL con parámetros para la ventana de modificación
          var query = new URLSearchParams(datos).toString();
          window.location.href = `{{ url_for('ventana_modificar') }}?${query}`;
      }
  }
  </script>


<script>
  function cambiarBusqueda(selectElement) {
    var valor = selectElement.value;
    var inputEmpleado = document.getElementById('inputEmpleado');
    var inputRFC = document.getElementById('inputRFC');
    if (valor === 'empleado') {
      inputEmpleado.style.display = 'block';
      inputRFC.style.display = 'none';
    } else if (valor === 'rfc') {
      inputEmpleado.style.display = 'none';
      inputRFC.style.display = 'block';
    }
  }
  </script>

<script>
  var seleccionModoActivo = false;

document.addEventListener('DOMContentLoaded', function() {
    var btnModificar = document.getElementById('btnModificar');
    btnModificar.addEventListener('click', function() {
        seleccionModoActivo = true;
        alert('Selecciona una fila haciendo clic en el nombre del empleado para modificar.');
    });

    // Añade el evento click a cada celda de la columna "Nombre" en la tabla
    document.querySelectorAll('.tabla tbody tr td:nth-child(2)').forEach(function(td) {
        td.onclick = function() {
            if (seleccionModoActivo) {
                if (confirm("¿Estás seguro de modificar este dato?")) {
                    var tr = this.parentNode;
                    var datos = {
                        Fecha: tr.cells[0].textContent,
                        Nombre: tr.cells[1].textContent,
                        Hora: tr.cells[2].textContent,
                        Tipo: tr.cells[3].textContent,
                        Estatus: tr.cells[4].textContent
                    };

                    var query = new URLSearchParams(datos).toString();
                    window.location.href = `{{ url_for('ventana_modificar') }}?${query}`;
                }
                seleccionModoActivo = false;  // Desactiva el modo de selección después de la selección
            }
        };
    });
});
  </script>
  
  <script>
      // Este script se ejecutará cada vez que se seleccione una nueva fecha en los calendarios.
      document.getElementById('fecha_inicio').addEventListener('change', function() {
          var fechaInicioSeleccionada = this.value;
          console.log("Fecha de inicio seleccionada: " + fechaInicioSeleccionada);
      });
  
      document.getElementById('fecha_fin').addEventListener('change', function() {
          var fechaFinSeleccionada = this.value;
          console.log("Fecha de fin seleccionada: " + fechaFinSeleccionada);
      });
      
    function cerrarVentana() {
      var frame = $(".ventana")
      frame.hide()
    }
  
    </script>
  <script>
    window.onload = function() {
  var selectElement = document.querySelector('.select-busqueda');
  cambiarBusqueda(selectElement); // Llama a esta función para establecer la visibilidad inicial de los input
};
  </script>

<script>
  $(document).ready(function() {
    $('#btnCancelar').click(function() {
      var confirmacion = window.confirm("¿Está seguro de cancelar dicha acción?");
      if (confirmacion) {
        // Si el usuario confirma, redirige a la página sin datos.
        window.location.href = "{{ url_for('frameChecador') }}";
      }
      // Si el usuario cancela, simplemente cierra el cuadro de diálogo y no hace nada.
    });
  });
</script>

<script>
 document.getElementById('btnTodos').addEventListener('click', function() {
  var form = document.querySelector('form');
      // Opcional: Limpia el input de RFC si existe en el formulario
      var inputRFC = document.querySelector('input[name="rfc"]');
      if (inputRFC) {
          inputRFC.value = '';  // Asegura que no se envía un RFC
      }
      // Establece un campo oculto o modifica uno existente para 'todos'
      var inputTodos = document.querySelector('input[name="todos"]');
      if (!inputTodos) {
          inputTodos = document.createElement('input');
          inputTodos.type = 'hidden';
          inputTodos.name = 'todos';
          form.appendChild(inputTodos);
      }
      inputTodos.value = 'true';  // Establece 'todos' a true
      form.submit();  // Envía el formulario
  });

</script>
<script>
$(document).ready(function() {
    $('#btnEliminar').click(function() {
        console.log("Botón eliminar clickeado");  // Para depuración
        var rfc = 'ABC123456DEF';  // Aquí deberías obtener el RFC de alguna manera, por ejemplo, desde un elemento de datos

        // Aquí haces la petición POST a tu servidor Flask
        $.post('/restaurar_registro/' + rfc, function(data) {
            alert(data.mensaje);  // Muestra un mensaje con el resultado
        }).fail(function() {
            alert("Error al realizar la solicitud");
        });
    });
});


  </script>
  <script>
    $(document).ready(function() {
        // Autocompletado para el campo de nombre
        $("#inputEmpleado").autocomplete({
            source: "{{ url_for('autocompleterep', tipo='nombre') }}", // Asegúrate de manejar este parámetro en tu backend
            minLength: 1, // Mínimo de caracteres para iniciar la búsqueda
            select: function(event, ui) {
                $(this).val(ui.item.label);
                return false;
            }
        });
    
        // Autocompletado para el campo de RFC
        $("#inputRFC").autocomplete({
            source: "{{ url_for('autocompleterep', tipo='rfc') }}", // Asegúrate de manejar este parámetro en tu backend
            minLength: 1,
            select: function(event, ui) {
                $(this).val(ui.item.label);
                return false;
            }
        });
    });
    </script>
 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
  
</body>
</html>
