<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleado Agregado</title>
    <link rel="stylesheet" href="../static/css/style-popUp-exitoso.css">
</head>
<body>
    <div class="popup-ventana">
        <div class="header">
            <a href="{{ url_for('frameEmpleados', filename='empleados.html') }}" class="btn-cerrar"><span>X</span></a>
        </div>
            <div class="content-ventana">
                <div class="content-text">
                    El RFC ingresado no coincide con un empleado actual
                </div>
                <div class="content-icono">
                    <img src="{{ url_for('static', filename='iconos/advertencia.png') }}" alt="">
                </div>
            </div>
        
    </div>
</body>
</html>