<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reporte-asistencia.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<title>Empleado</title>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous">
  </script>
</head>
<body>

  <div class="ventana">
    <div class="header">Reporte Asistencia
      <button class="btn-cerrar" onclick="cerrarVentana()">X</button>
    </div>
    <div class="content-botones">
      <button type="button" id="btnTodos" class="btn-menu primero">
        <img src="{{ url_for('static', filename='iconos/icon_empleados.png') }}" alt="todos">
        <span>Todos</span>
      </button>
        <button type="button" class="btn-menu" id="btnVisualizar"> <img src="{{ url_for('static', filename='iconos/icon_visual.png') }}" alt="visualizar"> <span>Visualizar</span></button> 
        <button class="btn-menu" id="btnCancelar">
          <img src="{{ url_for('static', filename='iconos/icon_cancelar.png') }}" alt="cancelar">
          <span>Cancelar</span>
        </button>
    </div>

    <div class="input-contenedor">
      <form action="{{ url_for('frameReporteAsistencia') }}" method="post">
      <select class="select-busqueda" onchange="cambiarBusqueda(this)">
        <option value="empleado">Empleado</option>
        <option value="rfc">RFC</option>
      </select>
      <input type="text" class="input-box input-empleado"name="nombre" placeholder="Ingresa nombre de empleado" id="inputEmpleado">
      <input type="text" class="input-box input-rfc" name="rfc"  placeholder="Ingresa RFC de empleado" id="inputRFC" style="display: none;">
    
  <div class="calendario">
    <label for="fecha_inicio" class="texto-calendario">De:</label>
    <input type="date" id="fecha_inicio" name="fecha_inicio" class="input-calendario">
  </div>

  <div class="calendario2">
    <label for="fecha_fin" class="texto-calendario">A:</label>
    <input type="date" id="fecha_fin" name="fecha_fin" class="input-calendario">
  </div>

  <button type="submit" class="btn-buscar">
    <img src="{{ url_for('static', filename='iconos/icon_buscar.png') }}" alt="imagen" class="input-image">
  </button>
  </form>
  </div>

  <div class="tabla-container">
    <table class="tabla">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>RFC</th>
          <th>Nombre</th>
          <th>H.E</th>
          <th>H.S</th>
          <th>H.T</th>
          <th>Incidencia</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        {% if resultados %}
          {% for resultado in resultados %}
          <tr>
            <td>{{ resultado.Fecha }}</td>
            <td>{{ resultado.RFC }}</td>
            <td>{{ resultado.Nombre}}</td>
            <td>{{ resultado.HE|safe}}</td>
            <td>{{ resultado.HS|safe}}</td>
            <td>{{ resultado.HT}}</td>
            <td>{{ resultado.Incidencia}}</td>
            <td>{{ resultado.Estatus}}</td>
          </tr>
          {% endfor %}
        {% else %}
          <!-- Fila vacía inicial por defecto -->
          <tr>
            <td colspan="8">No se encontraron resultados</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  </div>


  <script>
      document.getElementById('btnVisualizar').addEventListener('click', function(event) {
    event.preventDefault(); // Prevenir el comportamiento predeterminado

    // Preparar los datos de la tabla para la exportación
    var datosTabla = [];
    document.querySelectorAll(".tabla tbody tr").forEach(function(fila) {
        var filaDatos = [];
        fila.querySelectorAll("td").forEach(function(celda) {
            filaDatos.push(celda.innerText);
        });
        datosTabla.push(filaDatos);
    });

    // Realizar la petición POST al servidor para generar el archivo Excel
    fetch('/exportar-a-excel', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify({datos: datosTabla}),  // Asegúrate de que esto coincide con lo que espera Python
})

    .then(response => response.blob())
    .then(blob => {
        // Crear un enlace temporal para descargar el archivo
        var url = window.URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = "reporte_asistencia.xlsx";
        document.body.appendChild(a); // Adjuntar el enlace al DOM
        a.click(); // Simular un clic para iniciar la descarga
        a.remove(); // Limpiar el enlace temporal del DOM
    })
    .catch(error => console.error('Error al exportar a Excel:', error));
});

  </script>
  

  <script>
    
  
    // Función para actualizar la tabla con nuevos datos
    function actualizarTabla() {
      var datos = obtenerDatos(); // Obtén los datos
      var tbody = document.querySelector('.tabla tbody'); // Encuentra el cuerpo de la tabla en el DOM
  
      tbody.innerHTML = ''; // Limpia el cuerpo de la tabla
  
      // Itera sobre los datos y crea una fila por cada conjunto de datos
      datos.forEach(function(dato) {
        var fila = tbody.insertRow(); // Inserta una fila al final del cuerpo de la tabla
        Object.values(dato).forEach(function(valor) {
          var celda = fila.insertCell(); // Inserta una nueva celda en la fila
          celda.textContent = valor; // Asigna el valor a la celda
        });
      });
    }
  
    function cambiarBusqueda(selectElement) {
      var valor = selectElement.value;
      var inputEmpleado = document.getElementById('inputEmpleado');
      var inputRFC = document.getElementById('inputRFC');
      if(valor === 'empleado') {
        inputEmpleado.style.display = 'block';
        inputRFC.style.display = 'none';
      } else if(valor === 'rfc') {
        inputEmpleado.style.display = 'none';
        inputRFC.style.display = 'block';
      }
    }
  
    document.getElementById('fecha_inicio').addEventListener('change', function() {
        var fechaInicioSeleccionada = this.value;
        console.log("Fecha de inicio seleccionada: " + fechaInicioSeleccionada);
        actualizarTabla(); // Llama a actualizarTabla cada vez que se cambia la fecha de inicio
    });
  
    document.getElementById('fecha_fin').addEventListener('change', function() {
        var fechaFinSeleccionada = this.value;
        console.log("Fecha de fin seleccionada: " + fechaFinSeleccionada);
        actualizarTabla(); // Llama a actualizarTabla cada vez que se cambia la fecha de fin
    });
  
    document.getElementById('btnVisualizar').addEventListener('click', function(event) {
    // Prevenir el comportamiento predeterminado si el botón está dentro de un formulario
    event.preventDefault();


});

  
    function cerrarVentana() {
      var frame = $(".ventana");
      frame.hide();
    }
  </script>
<script>
  document.getElementById('btnTodos').addEventListener('click', function() {
      var form = document.querySelector('form');
      // Opcional: Limpia el input de RFC si existe en el formulario
      var inputRFC = document.querySelector('input[name="rfc"]');
      if (inputRFC) {
          inputRFC.value = '';  // Asegura que no se envía un RFC
      }
      // Establece un campo oculto o modifica uno existente para 'todos'
      var inputTodos = document.querySelector('input[name="todos"]');
      if (!inputTodos) {
          inputTodos = document.createElement('input');
          inputTodos.type = 'hidden';
          inputTodos.name = 'todos';
          form.appendChild(inputTodos);
      }
      inputTodos.value = 'true';  // Establece 'todos' a true
      form.submit();  // Envía el formulario
  });
  </script>
  

<script>
  $(document).ready(function() {
    $('#btnCancelar').click(function() {
      var confirmacion = window.confirm("¿Está seguro de cancelar dicha acción?");
      if (confirmacion) {
        // Si el usuario confirma, redirige a la página sin datos.
        window.location.href = "{{ url_for('frameReporteAsistencia') }}";
      }
      // Si el usuario cancela, simplemente cierra el cuadro de diálogo y no hace nada.
    });
  });
</script>

<script>
  $(document).ready(function() {
      // Autocompletado para el campo de nombre
      $("#inputEmpleado").autocomplete({
          source: "{{ url_for('autocompleterep', tipo='nombre') }}", // Asegúrate de manejar este parámetro en tu backend
          minLength: 1, // Mínimo de caracteres para iniciar la búsqueda
          select: function(event, ui) {
              $(this).val(ui.item.label);
              return false;
          }
      });
  
      // Autocompletado para el campo de RFC
      $("#inputRFC").autocomplete({
          source: "{{ url_for('autocompleterep', tipo='rfc') }}", // Asegúrate de manejar este parámetro en tu backend
          minLength: 1,
          select: function(event, ui) {
              $(this).val(ui.item.label);
              return false;
          }
      });
  });
  </script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 

</body>
</html>