@ -0,0 +1,68 @@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios ALIOth-ALbeRTO</title>
    <link rel="stylesheet" id="menuStyle" href="horarios.css">
</head>
<body class="rectangle">
    
        <div class="inner-rectangle">
          <p class="inner-text">Reporte Checador</p>
        </div>
    
        <div class="busqueda">
            <input type="search" placeholder="Ingrese RFC o Nombre">
            <button class="btn-buscar" ><img src="iconos/busqueda-boton.svg" style="height: auto; width: 30px;" alt=""></button> 
            
            <button class="btn-pequeño" id="boton-horario" ><a href="horariosempleados.html">Horario</a></button> 
        </div>
     
        <div class="Tabla">
            <table class="Table"><div class="Tabla">
                <table class="Table">
                    <tr>
                        <th>NOMBRE (REPORTE)</th>
                        <th>FECHA REPORTE</th>
                        <th>STATUS</th>
                        <th>PUESTO</th>
                        <th>EMPLEADO</th>
                    </tr>
                    <tr>
                        <td>01_CA_AA800220J1A_03</td>
                        <td>2023-07-08</td>
                        <td>ACTIVO</td>
                        <td>DOCENTE</td>
                        <td>LUIS A.</td>
                    </tr>
                    <tr>
                        <td>02_CA_AA800220J1A_04</td>
                        <td>2023-07-08</td>
                        <td>ACTIVO</td>
                        <td>DOCENTE</td>
                        <td>ANGEL SANTILLAN</td>
                    </tr>
                    <tr>
                        <td>03_CA_AA800220J1A_05</td>
                        <td>2023-07-08</td>
                        <td>ACTIVO</td>
                        <td>DOCENTE</td>
                        <td>GUADALUPE</td>
                    </tr>
                    <tr>
                        <td>04_CA_AA800220J1A_06</td>
                        <td>2023-07-08</td>
                        <td>ACTIVO</td>
                        <td>ADMINISTRATIVO</td>
                        <td>FELIPE NIÑO</td>
                    </tr>
                </table>
            </div>
            </table>
        </div>
   
</body>
</html>