@ -0,0 +1,217 @@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios ALIOth-ALbeRTO</title>
    <link rel="stylesheet" id="menuStyle" href="horarios.css">
</head>
<body class="rectangle">
    
        <div class="inner-rectangle">
          <p class="inner-text">Horario</p>
        </div>
        <table class="tablainfo">
            <tr>
                <th>NOMBRE: Juan P.</th>
                <th>FECHA DE CARGA: 01/02/23</th>
                <th>F.I: 00/00/0000</th>
                <th style="color: green;">STATUS: ACTIVO</th>
               
            </tr>
            <tr>
                <td>RFC: AAS0023DJJIJ3Q</td>
                <td>PUESTO:ADMINISTRATIVO</td>
                <td>HORARIO ACTUAL SIN HORARIO</td>
               
            </tr>

        </table>
       <div class="scrollhorario" >
        
    <table class="horario">
        <tr>
            <th>HORA</th>
            <th>LUNES</th>
            <th>MARTES</th>
            <th>MIERCOLES</th>
            <th>JUEVES</th>
            <th>VIERNES</th>
            <th>SABADO</th>
            <th>DOMINGO</th>
        </tr>
        <!-- Ejemplo de una fila con celdas vacías y coloreadas para los horarios -->
        <tr>
            <td>5:00 AM</td>
            <td></td>
            <td class="verde"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6:00 AM</td>
            <td></td>
            <td class="verde"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td>7:00 AM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8:00 AM</td>
            <td></td>
            <td class="verde"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9:00 AM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10:00 AM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11:00 AM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="verde"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>12:00 AM</td>
            <td></td>
            <td></td>
            <td class="verde"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>1:00 PM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td>2:00 PM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3:00 PM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4:00 PM</td>
            <td></td>
            <td class="verde"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5:00 PM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6:00 PM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7:00 PM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8:00 PM</td>
            <td class="rojo"></td>
            <td class="rojo"></td>
            <td class="rojo"></td>
            <td class="rojo"></td>
            <td class="rojo"></td>
            <td></td>
            <td></td>
        </tr>
       
        <!-- Repite este bloque para cada hora necesaria, ajustando las clases de color según corresponda -->
        <!-- ... -->
        
        </div>
    
        <button class="btn-pequeño" id="boton-hecho" ><a href="horariosempleados.html">Hecho</a></button>         
    </div>

</body>
</html>